---
import { Image } from "astro:assets";
import aboutImage from "../../public/about-image-2.webp";
---

<div id="about" class="max-w-screen-xl items-center py-12 md:flex">
  <div
    class="relative order-first flex w-full justify-center p-10 sm:order-first md:w-1/2"
  >
    <!-- <div
      class="absolute left-[-50px] top-[0px] z-0 animate-float-up md:left-[-60px] lg:left-[0px]"
    >
      <img src="/about-blob-one.webp" class="" alt="Top-left graphic" />
    </div> -->

    <!-- <div
      class="absolute bottom-[-40px] right-[-20px] z-0 animate-float-down lg:right-[20px]"
    >
      <img src="/about-blob-two.webp" class="" alt="Bottom-right graphic" />
    </div> -->

    <div class="relative mt-8">
      <Image
        src={aboutImage}
        loading="eager"
        class="align-center z-10 mx-auto w-96"
        alt="image of a flower in a small bottle"
      />
    </div>
  </div>

  <div class="order-last w-full p-5 sm:order-last md:w-1/2">
    <div class="text prose">
      <h2 class="neonTextStatic logo my-4 text-3xl font-bold sm:text-4xl">
        About the Boyfriend Collective
      </h2>
      <div class="text-pretty text-gray-300">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          obcaecati dolores quis delectus, magni possimus adipisci eligendi
          veniam saepe quibusdam quod iure consequuntur earum consectetur, rem
          cum animi odit iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          obcaecati dolores quis delectus, magni possimus adipisci eligendi
          veniam saepe quibusdam quod iure consequuntur earum consectetur, rem
          cum animi odit iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          obcaecati dolores quis delectus, magni possimus adipisci eligendi
          veniam saepe quibusdam quod iure consequuntur earum consectetur, rem
          cum animi odit iste.
        </p>
      </div>
    </div>
  </div>
</div>
