---
import { Icon } from "astro-icon/components";
import { brand } from "../common/companyItems";
---

<div class="flex flex-col">
  <div class="grid justify-center lg:justify-start">
    <div class="mt-20 flex items-center space-x-3">
      <span
        class="logo self-center whitespace-nowrap text-3xl font-semibold text-white"
        >{brand.company.name}</span
      >
    </div>
  </div>
</div>
