---

---

<div
  class="relative border-y-8 border-primary-500 bg-gray-600 bg-[url('/cta-banner.webp')] bg-cover bg-fixed bg-center bg-no-repeat py-12 bg-blend-multiply dark:bg-gray-500"
>
  <!-- Blur overlay -->
  <div class="absolute inset-0 backdrop-blur-none"></div>
  <!-- Content -->
  <div
    class="relative z-10 mx-auto max-w-screen-xl px-4 py-16 sm:py-32 lg:px-6"
  >
    <div class="mx-auto max-w-screen-sm text-center">
      <h2
        class="neonTextStatic logo mb-4 text-7xl font-extrabold leading-tight tracking-tight text-primary-500 dark:text-white"
      >
        We know what you need.
      </h2>
      <p class="mb-6 font-light text-white dark:text-gray-400 md:text-lg">
        Looking for irresistible scripts to captivate your audience? Let us
        craft the perfect stories to set the mood and elevate your content.
        Reach out and let’s create something unforgettable together.
      </p>
      <a
        href="#contact"
        class="rounded-3xl bg-primary-600 px-6 py-4 text-center text-lg font-bold text-white hover:bg-primary-500"
      >
        Fuck yeah
      </a>
    </div>
  </div>
</div>
