---
import { Image } from "astro:assets";
import servicesImage from "../../public/services-image.webp";
---

<!-- <div id="services" class="justify-begin ml-40 flex">
  <img
    src="/section-break-one.webp"
    alt="section break one"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div> -->
<div id="services" class="max-w-screen-xl items-center py-12 md:flex">
  <div
    class="relative order-first flex w-full justify-center p-10 sm:order-last md:w-1/2"
  >
    <div class="relative mt-8">
      <!-- Image with Gradient Mask -->
      <div class="relative z-10 mx-auto w-96 overflow-hidden rounded-3xl">
        <Image
          src={servicesImage}
          loading="eager"
          class="h-full w-full object-cover"
          alt="image of a flower in a small bottle"
        />
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent"
        >
        </div>
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-b from-black via-transparent to-transparent"
        >
        </div>
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-l from-black via-transparent to-transparent"
        >
        </div>
        <div
          class="pointer-events-none absolute inset-0 bg-gradient-to-r from-black via-transparent to-transparent"
        >
        </div>
      </div>
    </div>
  </div>

  <div class="order-last w-full p-5 sm:order-first md:w-1/2">
    <div class="text prose">
      <h2
        class="neonTextStatic logo my-4 text-3xl font-bold text-gray-600 sm:text-4xl"
      >
        What we do
      </h2>
      <div class="text-pretty text-gray-300">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          obcaecati dolores quis delectus, magni possimus adipisci eligendi
          veniam saepe quibusdam quod iure consequuntur earum consectetur, rem
          cum animi odit iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          obcaecati dolores quis delectus, magni possimus adipisci eligendi
          veniam saepe quibusdam quod iure consequuntur earum consectetur, rem
          cum animi odit iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          obcaecati dolores quis delectus, magni possimus adipisci eligendi
          veniam saepe quibusdam quod iure consequuntur earum consectetur, rem
          cum animi odit iste.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mr-40 flex justify-end">
  <img
    src="/section-break-two.webp"
    alt="section break three"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>


<div class="flex justify-center">
  <img
    src="/section-break-three.webp"
    alt="section break two"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>


<div class="justify-begin ml-20 flex">
  <img
    src="/section-break-four.webp"
    alt="section break three"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div>

<div class="ml-60 flex justify-center">
  <img
    src="/section-break-five.webp"
    alt="section break three"
    class="hidden h-auto w-full max-w-xs md:block"
  />
</div> -->
