---
import Brand from "./BrandFooter.astro";
const today = new Date();

import { Image } from "astro:assets";
import quinnFooterLogo from "../../public/quinn-footer.webp";
---

<style>
  .address {
    white-space: pre-line; /* Maintains line breaks */
  }
</style>

<div class="-mb-1 text-primary-600">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="currentColor"
      fill-opacity="1"
      d="M0,64L48,90.7C96,117,192,171,288,186.7C384,203,480,181,576,197.3C672,213,768,267,864,256C960,245,1056,171,1152,154.7C1248,139,1344,181,1392,202.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      style="--darkreader-inline-fill: #007acc;"
      data-darkreader-inline-fill=""></path>
  </svg>
</div>

<footer class="bg-primary-600 shadow">
  <div class="mx-auto w-full max-w-screen-xl px-4 pb-8 pt-12 lg:pt-24">
    <div class="md:justify-between lg:flex">
      <Brand />
    </div>
    <hr class="border-t-1 my-6 border-white sm:mx-auto lg:my-8" />
    <!-- info  -->
    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
        <span class="text-sm text-white sm:text-center"
          >&copy; {today.getFullYear()}
          <a
            href="/"
            class="text-primary-200 hover:text-primary-200 hover:underline"
            >The Boyfriend Collective™</a
          >. All Rights Reserved.
        </span>
        <span class="text-sm text-white sm:text-center">
          Site designe by
          <a
            href="/"
            class="text-primary-200 hover:text-primary-200 hover:underline"
            >yellowcityweb.dev</a
          >.
        </span>
      </div>

      <!-- social svgs -->
      <div class="mt-4 flex sm:mt-0 sm:justify-center">
        <a href="#" class="-mt-1 ms-5 text-primary-300">
          <Image
            src={quinnFooterLogo}
            loading="eager"
            width={24}
            height={24}
            class="align-center z-10 mx-auto w-full"
            alt="quinn logo"
          />
          <span class="sr-only">Quinn page</span>
        </a>
        <a href="#" class="ms-5 text-primary-300 hover:text-primary-300">
          <svg
            class="h-4 w-4 fill-current hover:text-primary-300"
            aria-hidden="true"
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M21,7V9a1,1,0,0,1-1,1,8,8,0,0,1-4-1.08V15.5A6.5,6.5,0,1,1,6.53,9.72a1,1,0,0,1,1.47.9v2.52a.92.92,0,0,1-.28.62,2.49,2.49,0,0,0,2,4.23A2.61,2.61,0,0,0,12,15.35V3a1,1,0,0,1,1-1h2.11a1,1,0,0,1,1,.83A4,4,0,0,0,20,6,1,1,0,0,1,21,7Z"
            ></path>
          </svg>
          <span class="sr-only">TikTok page</span>
        </a>
        <a href="#" class="ms-5 text-primary-300 hover:text-primary-300">
          <svg
            class="h-4 w-4 fill-current hover:text-primary-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Instagram page</span>
        </a>
      </div>
    </div>
  </div>
</footer>
