---
const { title, desc, image } = Astro.props;
---

<section
  class="h-96 max-w-full bg-gray-400 bg-cover bg-center bg-no-repeat py-16 bg-blend-multiply"
  style={`background-image: url('${image}')`}
  aria-labelledby="section-heading"
>
  <div class="mx-auto max-w-screen-md px-4 py-8 sm:py-16">
    <h1
      id="section-heading"
      class="m-4 pt-12 text-center text-7xl font-semibold tracking-tight text-white"
    >
      {title}
    </h1>
    <p class="text-center text-xl font-light text-gray-200">
      {desc}
    </p>
  </div>
</section>
