---
import { YouTube } from "astro-embed";
---

<div id="community" class="max-w-screen-xl items-center pb-32 md:flex md:pt-36">
  <div class="order-first w-full pl-10 pt-12 sm:order-last lg:w-1/3">
    <div class="text prose">
      <span
        class="border-b-2 border-l-2 border-red-300 pl-1 uppercase text-gray-500 dark:text-gray-200"
        >Community</span
      >
      <h2
        class="my-4 text-4xl font-bold text-gray-600 dark:text-white sm:text-6xl"
      >
        See how <span class="text-red-300">Company Name</span> is making changes
        in the <span class="text-primary-500">community</span>
      </h2>
    </div>
  </div>
  <div
    class="relative order-last flex w-full justify-center sm:order-first lg:w-2/3"
  >
    <div
      class="relative mt-8 w-full overflow-hidden lg:mt-20"
      style="padding-top: 50%;"
    >
      <YouTube
        id="3yO3jANUtH4"
        title="See how we are helping out around the city"
        class="absolute inset-0 h-full w-full rounded-3xl border-8 border-primary-500"
      />
    </div>
  </div>
</div>
