---
import { YouTube } from "astro-embed";
---

<div id="samples" class="py-16 lg:py-48">
  <h2
    class="neonText logo mx-auto my-4 max-w-3xl text-center text-6xl font-bold"
  >
    A small sample for our good little angels and devils
  </h2>
  <div class="md:flex">
    <div class="relative flex h-full w-full justify-center">
      <div class="relative mx-auto mt-8 w-full max-w-3xl lg:mt-20">
        <div
          class="ml-0 aspect-video w-full overflow-hidden rounded-3xl md:ml-6"
        >
          <YouTube
            id="3AG4V0wTNME"
            title="How about a little taste?"
            class="h-full w-full rounded-3xl border-8 border-primary-500"
          />
        </div>
      </div>
    </div>
  </div>
</div>
